<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--<Logger name="org.apache.log4j.xml" level="info"/>-->

        <!--输出 mapper 对应的 sql 语句-->
        <!--<Logger name="com.mine.dao" level="trace" />-->



        <!-- druid配置 -->
        <!-- 这里的输出日志 如果配置了 druid log-filter的话 log-filter 配置还会过滤一遍 -->
        <logger name="druid.sql.Statement" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
        <logger name="druid.sql.ResultSet" level="debug" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <!--<Logger name="com.mine.dao.SystemUserMapper" level="DEBUG" >      -->
        <!--<AppenderRef ref="STDOUT"/>-->
        <!--</Logger>-->

        <!--<Logger name="druid.sql" level="DEBUG" >-->
        <!--<AppenderRef ref="STDOUT"/>-->
        <!--</Logger>-->
        <!--<Logger name="druid.sql.DataSource" level="DEBUG" >     -->
        <!--<AppenderRef ref="STDOUT"/>-->
        <!--</Logger>-->
        <!--<Logger name="druid.sql.Connection" level="DEBUG" >     -->
        <!--<AppenderRef ref="STDOUT"/>-->
        <!--</Logger>  -->




        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>